# Data Cleaning

---
Objectives:-
- To identify and handle missing or null values in the dataset.
- To remove duplicate records to ensure data accuracy.
- To correct data types for date and numeric columns.
- To detect and treat extreme outliers affecting analysis.
- To standardize column names for consistency.
- To save a cleaned dataset for further analysis.

---

Import Libraries & Load Raw Data:-

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../Data/01_Raw_Data/Apple_Global_Raw_Data.csv')
df.head()

,Date,Region,Product_Category,Units_Sold,Revenue_USD_Million,Average_Price_USD,Customer_Rating,Return_Rate_%,Online_Sales_%,Retail_Sales_%,Stock_Open_USD,Stock_Close_USD,Stock_High_USD,Stock_Low_USD,Marketing_Spend_USD_Million,Payment_Channel,Profit_Margin_%
0,2023-09-10,India,iPhone,1328,145.52,1662.86,2.9,7.40,23.94,10.74,166.31,89.46,180.39,163.53,34.82,Retail Store,41.74
1,2024-08-08,China,AirPods,3689,177.56,854.30,1.4,7.71,81.07,11.70,211.34,149.95,212.63,106.44,193.35,Carrier,39.91
2,2017-05-10,Europe,iPad,1546,104.58,970.56,3.4,9.14,39.19,80.89,188.19,112.63,217.67,189.99,94.96,Reseller,24.20
3,2018-07-18,Middle East,Services,2788,242.49,2200.56,1.7,3.38,20.34,42.28,85.44,201.55,198.21,81.86,98.90,Online Store,42.32
4,2018-02-04,North America,Apple Watch,2884,276.74,576.68,3.3,5.26,38.15,45.15,120.50,148.77,202.52,106.58,14.29,Carrier,37.50

Check Missing Values:-

In [ ]:
df.isnull().sum()

Handle Missing Values:-

In [3]:
Numeric_Cols = df.select_dtypes(include = ["int64", "float64"]).columns

for col in Numeric_Cols:
    df[col] = df[col].fillna(df[col].median())

Categorical_Cols = df.select_dtypes(include=["object"]).columns

for col in Categorical_Cols:
    df[col] = df[col].fillna(df[col].mode()[0])

df.isnull().sum()

Date                           0
Region                         0
Product_Category               0
Units_Sold                     0
Revenue_USD_Million            0
Average_Price_USD              0
Customer_Rating                0
Return_Rate_%                  0
Online_Sales_%                 0
Retail_Sales_%                 0
Stock_Open_USD                 0
Stock_Close_USD                0
Stock_High_USD                 0
Stock_Low_USD                  0
Marketing_Spend_USD_Million    0
Payment_Channel                0
Profit_Margin_%                0
dtype: int64

Remove Duplicate Rows:-

In [ ]:
df.duplicated().sum()
df = df.drop_duplicates()

df.shape

Fix Data Types;-

In [ ]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

df.dtypes

Outlier Handling (Using IQR Method):-

In [ ]:
def remove_outliers(column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    return df[(df[column] >= lower) & (df[column] <= upper)]

# Apply on important numeric columns
outlier_columns = ["Units_Sold", "Revenue_USD_Million", "Average_Price_USD", "Profit_Margin_%"]

for col in outlier_columns:
    df = remove_outliers(col)

df.shape

Standardize Column Names:-

In [ ]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

df.columns

Final Clean Dataset Overview:-

In [ ]:
df.info()
df.describe()

Save Cleaned Dataset:-

In [ ]:
Cleaned_Path = ('../Data/02_Clean_Data/Apple_Global_Clean_Data.csv') 
df.to_csv(Cleaned_Path, index = False)

print("Cleaned Dataset Saved Successfully")

Cleaned Dataset Saved Successfully

---

Key Insights:-

- Missing values across **numerical and categorical fields** were successfully treated, ensuring no data gaps for analysis.
- Duplicate entries were identified and removed, improving the reliability and accuracy of business metrics.
- The Date column was converted into proper datetime format, enabling time-based trend and forecasting analysis.
- Extreme outliers in **sales, revenue, pricing, and marketing spend** were controlled to prevent distortion in results.
- Column names were standardized into a clean and consistent format, making further coding and analysis more efficient.
- Date column initially loaded as object type instead of datetime.
- The dataset is now fully structured, clean, and ready for feature engineering and exploratory data analysis.

---